.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.title {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif;
  color: #808080;
  font-size: 24px;
}

.input {
  flex: 1;
  background: #fff;
  font-size: 24px;
  color: #444;
  border-radius: 3px;
  border-style: solid;
  border-color: #808080;
  border-width: 0.5px;
  margin-top: 20px;
}

.addButton {
  width: 130px;
  height: 40px;
  background-color: #50fa7a;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif;
}
.addButton:hover {
  opacity: 0.8;
}

.cancelButton {
  width: 130px;
  height: 40px;
  background-color: #ff5555;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif;
}
.cancelButton:hover {
  opacity: 0.8;
}
